.main{
    position: absolute;
    background-color: #1e222d;
    color: #fff;
    max-height: 400px;
    z-index: 100000;
    width: 250px;
    left: 0;
    padding: 1px 10px 0px 5px;
    top: 39px;
    z-index: 5;
}
.main::-webkit-scrollbar {
    height: 5px;
    background-color: transparent;
    width: 5px;
  }
  
.main ::-webkit-scrollbar-thumb {
    border-radius: 2px;
    background-color: #424a4a;
  }
  
.main::-webkit-scrollbar-track {
    background-color: transparent;
  }
.inputField input{
    outline: none;
    border: none;
    background-color: transparent;
    color: #fff;
    font-weight: 200;
    font-size: 14px;
}
.inputField{
    display: flex;
    padding: 5px 5px 0px 5px;
    align-items: center;
    gap: 5px;
    justify-content: space-between;
}
.wrap{
    border-bottom: 1px solid #5e5d5d;
    padding-bottom: 7px;
}
.inputField svg{
    cursor: pointer;
    transition: .1s ease-in;
}
.inputField svg:hover{
    color: #7e7e7e;
}
.presets .preset:last-child{
    border-bottom: none;
}
.preset{
    text-transform: capitalize;
    border-bottom: 1px solid #5e5d5d;
    cursor: pointer;
    transition: .1s linear;
    min-height: 34px;
    z-index: 10;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.preset svg{
    color: #5e5d5d;
    font-size: 20px;
}
.info{
    padding: 2px 5px;
    width: 100%;
}
.preset p{
    font-size: 14px;
    font-weight: 200;
    color: #d1d4dc;
}
.delete{
    height: 34px;
    width: 34px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.delete:hover svg{
    color: #4f4f4f;
}
.delete:hover{
    background-color: rgb(95, 95, 95)
}
.preset:hover{
    background-color: #2a2e39;
}
.error p{
    color:  #B00000;
    font-size: 15px;
    font-weight: 200;
    padding-left: 5px;
}
@media(max-width:880px){
    .main{
       right: 60px;
       left: 0;
    }
}
@media(max-width:855px){
    .main{
        left: -40px;
    }
}