.wrap{
    display: flex;
    justify-content: space-between;
}
.firstColomn{
    display: flex;
    flex-direction: column;
    flex-basis: auto;
    width: 76%;
}
.secondColomn{
    display: flex;
    width: 469px;
    height: 100vh;
    background-color: #202020;
    flex-direction: column;
}