.wrap{
    position: relative;
}
.icons{
    align-items: center;
    cursor: pointer;
    display: flex;
    border-radius: 6px;
}
.disabled{
    background-color: #2a2e39;
}
.icons img{
    width: 35px;
    height: 35px;
}
.icons:hover{
    background-color: #2a2e39;
}
.presetIcon{
    filter: invert(30%) sepia(86%) saturate(3041%) hue-rotate(219deg) brightness(100%) contrast(104%);
}
.presetDisabled{
    filter: invert(98%) sepia(1%) saturate(5%) hue-rotate(18deg) brightness(102%) contrast(101%);
}
