.wrap{
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 40px;
    bottom: -40px;
    box-sizing: border-box;
    left: 0px;
    overflow: auto;
    overflow-y: hidden;
}
/* .wrap::-webkit-scrollbar {
    width: 0;
    height: 0;
} */
.canvas{
    position: absolute;
    top: 0px;
    left: 0px;
    box-sizing: border-box;
}