.wrap{
    display: flex;
    gap: 7px;
    align-items: center;
    padding: 0px 10px 0px 25px;
    font-size: 14px;
}
.wrap .activeWrap{
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 25px;
    min-width: 25px;
    max-height: 28px;
    color:#2962ff;
    cursor: default;
    padding: 2px;
}
.activeWrap:hover{
    background-color: #2a2e39;
}
.disabledWrap{
    border-radius: 2px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 25px;
    min-width: 25px;
    max-height: 28px;
    color: #d1d4dc;
    cursor: pointer;
    padding: 2px;
    border-radius: 5px;
}
.disabledWrap:hover{
    background-color: #2a2e39;
}