.wrap{
    margin: 0px;
    padding: 0px;
    position: absolute;
    overflow: hidden;
    box-sizing: border-box;
    right: 0px;
    border-left: #2a2e39 1px solid;
    
}
.canvas{
    position: absolute;
    top: 20px;
    right: 0px;
    z-index: 2;
    box-sizing: border-box;
}