.wrap{
    margin: 0px;
    padding: 0px;
    position: absolute;
    overflow: hidden;
    box-sizing: border-box;
    left: 0;
}
.wrapVolume{
    border-top: #2a2e39 1px solid;
    margin: 0px;
    padding: 0px;
    position: absolute;
    bottom: 30px;
    overflow: hidden;
    box-sizing: border-box;
    left: 0;
}
.wrap::-webkit-scrollbar {
    width: 0;
    height: 0;
}
.canvas{
    position: absolute;
    top: 0px;
    left: 0px;
    z-index: 3;
    box-sizing: border-box;
}
.canvas2{
    position: absolute;
    right: 0px;
    z-index: 3;
    box-sizing: border-box;
}
.canvas4:hover{
    cursor: ns-resize;
}

.canvas4{
    position: absolute;
    right: 0px;
    z-index: 4;
    box-sizing: border-box;
}