.wrap{
    border: 1px solid #3c3c3c;
    flex-basis: 100%;
    height: 100%;
    color: #fff;
    padding: 3px;
    cursor: pointer;
    display: flex;
    flex-direction: column;
}
.wrapActive{
    border: 1px solid #93a4be;
    flex-basis: 100%;
    height: 100%;
    color: #fff;
    padding: 3px;
    display: flex;
    flex-direction: column;
}
.headerGraph{
    color:#737478;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.info{
    display: flex;
    gap: 10px;
    height: min-content;
}
.info p{
    font-weight: 100;
}
.headerGraph svg{
    font-size: 18px;
    cursor: pointer;
}
.graphic{
    display: flex;
    flex-basis: 100%;
    align-items: center;
    justify-content: center;
}