.wrap{
    border: 1px solid  #2a2e39;
    flex-basis: 100%;
    --height: 100%;
    color: #fff;
    display: flex;
    height: --var(height);
    flex-direction: column;
    padding: 0px 3px 3px 0px;
    background-color: #161a25;
    position: relative;
}
.wrapActive{
    border: 1px solid  #2a2e39;
    flex-basis: 100%;
    position: relative;
    height: 100%;
    color: #fff;
    overflow: hidden;
    padding: 0px 3px 3px 0px;
    display: flex;
    flex-direction: column;
    background-color: #161a25;
}
.info{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    height: min-content;
    align-items: center;
    color:#737478;
    padding-left: 3px;
}
.info p{
    font-weight: 100;
    font-size: 11px;
}
.addPersonal{
    font-size: 20px;
    cursor: pointer;
}
.graphic{
    display: flex;
    flex-basis: 100%;
    align-items: center;
    justify-content: center;
}
.graphicAdd{
    display: flex;
    flex-basis: 100%;
    margin-top: -55px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 9;
}
.graphicAdd svg{
    font-size: 35px;
    cursor: pointer;
}